[Unit]
Description=jieba api service

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=jieba_api_service

[Install]
WantedBy=multi-user.target
